default_language_version:
  python: python3.8


repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.5.2
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: 'v0.29.0'
    hooks:
      - id: yapf
        args: [--in-place, --parallel]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.790
    hooks:
      - id: mypy
