name: Check Code formatting

# see: https://help.github.com/en/actions/reference/events-that-trigger-workflows
on:  # Trigger the workflow on push or pull request, but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  checks:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          # python -m pip install --upgrade --user pip
          pip install flake8 isort
          pip --version
        shell: bash

      - name: flake8
        run: |
          flake8 .

      - name: isort
        run: |
          isort . --check --diff